<div class="container new-task">
  <div class="row">
    <div class="col-12">
      <input
        type="text"
        id="newTaskName"
        placeholder="Task Name"
        #newTaskName
      />
      <br />
      <label *ngIf="newTaskNameError" for="newTaskName" class="error">
        Task Name field can't be empty
      </label>
    </div>

    <div class="col-12">
      <input
        type="text"
        id="newTaskDescription"
        placeholder="Task Description"
        #newTaskDescription
      />
      <br />
      <label
        *ngIf="newTaskDescriptionError"
        for="newTaskDescription"
        class="error"
      >
        Task Description field can't be empty
      </label>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <button
        type="button"
        class="btn btn-primary"
        (click)="addNewTask(newTaskName.value, newTaskDescription.value)"
      >
        Add new task
      </button>
    </div>
    <div class="col-6">
      <button type="button" class="btn btn-light" [routerLink]="['/task-list']">
        Back to the task list
      </button>
    </div>
  </div>
</div>
