<div class="container task-list">
  <div class="row buttons-wrap">
    <div class="col-6">
      <button type="button" [routerLink]="['new-task']" class="btn btn-primary">
        Add new task
      </button>
    </div>
    <div class="col-6">
      <button type="button" (click)="logout()" class="btn btn-danger">
        Logout
      </button>
    </div>
  </div>

  <div class="row undone-tasks">
    <div class="col-12">
      <h2>Undone Tasks</h2>
    </div>

    <ng-container
      *ngIf="undoneTaskList && undoneTaskList.length; else noUndoneTasks"
    >
      <app-task *ngFor="let task of undoneTaskList" [task]="task"></app-task>
    </ng-container>

    <ng-template #noUndoneTasks>
      <h3>There are no undone tasks</h3>
    </ng-template>
  </div>

  <div class="row done-tasks">
    <div class="col-12">
      <h2>Done Tasks</h2>
    </div>

    <ng-container *ngIf="doneTaskList && doneTaskList.length; else noDoneTasks">
      <app-task *ngFor="let task of doneTaskList" [task]="task"></app-task>
    </ng-container>

    <ng-template #noDoneTasks>
      <h3>There are no done tasks</h3>
    </ng-template>
  </div>
</div>
