h1,
h2 {
  margin: 1em 0;
}

.container {
  padding: 16px;

  @media (min-width: 768px) {
    padding: 48px 16px;
  }
}

.btn,
input {
  width: 100%;
  padding: 16px;
}

input,
label {
  margin-bottom: 16px;
}

label.error {
  color: red;
}

.login-wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 10vh;

  .btn,
  input {
    max-width: 400px;
    margin: 0 0 1rem;
  }
  input {
    padding: 1em;
  }
}

.task-list {
  .done-tasks,
  .undone-tasks,
  .buttons-wrap {
    margin-bottom: 3rem;
  }
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  margin: 0 0 16px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);

  .content {
    margin: 0 0 16px;

    @media (min-width: 768px) {
      margin: 0;
      padding-right: 32px;
    }
  }
}
